body {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #484644;
}

.li-article-sep {
  margin: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  color: #ccc;
}

.li-article-date,
.li-article-taxonomies {
  color: #999;
  font-size: 100%;
}

.pagination {
  text-align: center;
}

.content {
  margin-top: 50px;
}